{% extends 'front/base.html.twig' %}

{% block title %}
	{{listing.model.brand.name}}
	{{listing.model.name}}
{% endblock %}


{% block body %}
	<div class="example-wrapper me-auto ms-auto px-3 py-2 bg-dark">
		<div class="card border border-light me-auto ms-auto my-2">
			<div class="card-body d-flex flex-column justify-content-between py-4">
				<img style="width: 250; height: auto;" src="{{listing.model.picturePath}}" class="card-img-top" alt="{{listing.model.name}}">
				<h4 class="card-title JB">
					<strong>{{listing.title|capitalize}}
						{{listing.model.name|capitalize}}</strong>
				</h4><hr>

				<h6 class="card-title">
					<strong class="text-decoration-underline">Modèle :</strong>
					{{listing.model.brand.name|capitalize}}
					{{listing.model.name|capitalize}}
				</h6>

				<h6 class="card-title">
					<strong class="text-decoration-underline">Date de l'annonce:</strong>
					{{listing.createdAt|date('d/m/y')}}
				</h6>

				<h6 class="card-title">
					<strong class="text-decoration-underline">Année de production :</strong>
					{{listing.producedYear}}
				</h6>
				<p class="card-text">
					<strong class="text-decoration-underline">Kilométrage :</strong>

					{{listing.mileage}},

				</p>

				{% if listing.description is not null %}
					<hr>
					<p class="card-text">
						{{listing.description|capitalize}}
					</p><br>
				{% endif %}


				<button class='px-2 btn btn-outline-secondary disabled'>

					{{listing.price|round(2, 'floor')}}
					€

				</button>

			</div>
		</div>

	</div>
{% endblock %}
